/* color palette from <https://github.com/vuejs/theme> */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    transition: background-color 0.2s, border-color 0.2s;
}
#__nuxt,
html,
body {
    height: 100%;
}

body {
    color: $text-color;
    background: $primary-bg;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100%;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-background-mute);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-background-mute-4);
    border-radius: 20px;
}
